body {
    background-color:#F8F8F8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.card {
    /*margin: o auto;*/
    background-color: white;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #e8e8e8;
    padding: 25px;

}
.car-header {
    position: relative;
}


.icono {
    color:#ED4939;
    font-size: 40px;
    position: relative;
    z-index: 2;
    margin-top: 32px;
}
.icono:hover {
    transform: rotate(45deg);
}
.circulo {
    width: 70px;
    height: 70px;
    background-color: #f7e8e8;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    z-index: 1;
}
.card-link {
    color: #bd4f23;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
}
.gps-cards {
    display: flex;
    justify-content: space-around;

}
.logo {
    filter:blur(20px) ;
}
.logo:hover {
    filter: none;
}
.logo-header  {
animation-name: animacion-logo;
animation-iteration-count: infinite;
animation-duration: 3s;

}
@media (max-width: 800px) {
      .gps-cards {
        display: block;
      }
      .card {
        margin: 0 auto;
        width: 80%;
        margin-bottom: 10 px;
      }
}
@keyframes animacion-logo {
    0%{
        transform: scale(0);
    }
    80%{
        transform: scale(1.1);
    }
    90%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }

}